DISCORD_BOT_TOKEN=
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
API_URL=http://localhost:4000
ADMIN_API_KEY=
DISCORD_COMMITS_CHANNEL_ID=
DISCORD_COMMITS_POLL_INTERVAL_MS=60000
DISCORD_GUILD_ID=
DISCORD_ANNOUNCEMENT_CHANNEL_ID=
DISCORD_MSS_CHANNEL_ID=
DISCORD_LEMMIE_USER_ID=
COURT_ANNOUNCEMENTS_CHANNEL_ID=
ACTIVE_HEARINGS_CHANNEL_ID=
SENTENCING_RECORDS_CHANNEL_ID=
PETITIONS_TO_COURT_CHANNEL_ID=
LEGAL_ARCHIVES_CHANNEL_ID=
PARDONS_CLEMENCY_CHANNEL_ID=
WEBSITE_URL=https://wilfordindustries.org
DISCORD_COMMANDS_URL=https://wilfordindustries.org/commands
DISCORD_APPLICATIONS_CHANNEL_ID=
DISCORD_APPLICATION_REVIEW_ROLE_ID=
DISCORD_APPLICATION_ROLE_ID=
DISCORD_APPLICATION_GUILD_ID=
